<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.orderCenter.mapper.OrderMapper">

    <select id="selectById"  resultType="com.song.orderCenter.pojo.Order">
        select * from tb_order where id = #{id}
    </select>
</mapper>